
@{
    ViewBag.Title = "Article";
}

<div>
    <p class="Article-Header">@Model.Title</p>
    <p class="Article-Text">@Model.Text</p>
    <p class="Date">publication date: @Model.PublicationDate.ToString("dd/MM/yyyy")</p>
</div>